Source: snf-image-helper
Section: admin
Priority: extra
Maintainer: Constantinos Venetsanopoulos <cven@grnet.gr>
Build-Depends: debhelper (>= 7.0.50~), autotools-dev, automake
Standards-Version: 3.9.1
Homepage: https://code.grnet.gr/projects/snf-image
Vcs-Git: git://code.grnet.gr/git/snf-image
Vcs-Browser: https://code.grnet.gr/git/snf-image

Package: snf-image-helper
Architecture: all
Depends: ${python:Depends}, ${misc:Depends}, xmlstarlet,
 e2fsprogs (>= 1.41.12), ntfs-3g, ntfsprogs
Breaks: ganeti (<< 1.2.7)
Replaces: snf-ganeti-instance-image
Enhances: ganeti
Description: Requisite for the snf-image Ganeti OS Provider
 This package needs to be installed in the Helper VM that is
 used by the snf-image-host Ganeti OS Provider. It implements the
 communication between the OS Provider and the VM that customizes
 the newly created Image.
 .
 The snf-image-host package should be installed on the host machine.
 The snf-image-helper package should be installed inside the VM,
 which is used by the snf-image-host package to customize the Image. 
