#!/usr/bin/make -f
%:
	dh $@

override_dh_auto_configure:
	./autogen.sh
	dh_auto_configure

override_dh_auto_clean:
	dh_auto_clean
	rm -rf autotools
	rm -f Makefile.in aclocal.m4 configure config.status config.log tasks/Makefile.in

override_dh_install:
	dh_install
	rm $(CURDIR)/debian/snf-image-helper/usr/share/doc/snf-image-helper/COPYING

