#!/usr/bin/make -f
%:
	dh $@

override_dh_auto_clean:
	dh_auto_clean
	rm -rf autotools
	rm -f Makefile.in aclocal.m4 configure config.status config.log

override_dh_auto_configure:
	./autogen.sh
	dh_auto_configure -- --enable-version-consistency-check

override_dh_install:
	dh_install
	install -D -m 0600 defaults $(CURDIR)/debian/snf-image/etc/default/snf-image

override_dh_fixperms:
	dh_fixperms --exclude debian/snf-image/etc/default/snf-image

