Source: snf-image
Section: admin
Priority: extra
Maintainer: Nikos Skalkotos <skalkoto@grnet.gr>
Build-Depends: debhelper (>= 7.0.50~), automake, autotools-dev, kpartx,
 gdisk, eatmydata, mbr, curl, xmlstarlet, parted, libhivex-bin,
 libwin-hivex-perl, python, python-prctl, python-scapy, python-support
Standards-Version: 3.9.5
Homepage: https://code.grnet.gr/projects/snf-image
Vcs-Git: git://code.grnet.gr/git/snf-image
Vcs-Browser: https://code.grnet.gr/git/snf-image

Package: snf-image
Architecture: all
Depends: ${misc:Depends}, kpartx, multistrap, curl,
 mbr, python, python-prctl, python-scapy
Breaks: snf-image-host (<< 0.8)
Replaces: snf-image-host
Conflicts: snf-image-host
Enhances: ganeti
Description: Image Based Ganeti OS Provider
 Ganeti is a cluster virtual server management software tool built on 
 top of existing virtualization technologies such as Xen or KVM and
 other Open Source software. Once installed, the tool will take over
 the management part of the virtual instances.
 .
 This package provides an OS Provider for Ganeti, that allows the
 installation of predefined or custom Images. It is the main provider
 of the Synnefo Cloud Management Software.

Package: snf-image-helper
Architecture: all
Depends: ${python:Depends}, ${misc:Depends}, xmlstarlet, libwin-hivex-perl,
 e2fsprogs (>= 1.41.12), ntfs-3g, ntfsprogs, parted, libhivex-bin,
 eatmydata, socat, iproute, xenstore-utils, gdisk, ufsutils, python
Description: Requisite for the snf-image Ganeti OS Provider
 This package needs to be installed in the Helper VM that is
 used by the snf-image-host Ganeti OS Provider. It implements the
 communication between the OS Provider and the VM that customizes
 the newly created Image.
 .
 The snf-image-host package should be installed on the host machine.
 The snf-image-helper package should be installed inside the VM,
 which is used by the snf-image-host package to customize the Image.
