#!/usr/bin/make -f

%:
	dh $@

override_dh_auto_clean:
	dh_auto_clean -Dsnf-image-host
	cd snf-image-host; rm -f autotools/{missing,install-sh} \
	rm -f Makefile.in aclocal.m4 configure config.status config.log
	dh_auto_clean -Dsnf-image-helper
	cd snf-image-helper ; rm -rf autotools; \
	rm -f Makefile.in aclocal.m4 configure config.status config.log tasks/Makefile.in
	rm -f debian/snf-image.templates
	rm -f debian/snf-image.postinst
	rm -rf docs/_build

override_dh_auto_build:
	cd docs && make man
	dh_auto_build -Dsnf-image-host
	dh_auto_build -Dsnf-image-helper
	sed -e 's|@VERSION[@]|$(DEB_DEVFLOW_VERSION)|g' \
		debian/snf-image.templates.in > debian/snf-image.templates
	sed -e 's|@VERSION[@]|$(DEB_DEVFLOW_VERSION)|g' \
		debian/snf-image.postinst.in > debian/snf-image.postinst
	chmod +x debian/snf-image.postinst

override_dh_auto_configure:
	cd snf-image-host; ./autogen.sh
	dh_auto_configure -Dsnf-image-host -- \
		--enable-version-consistency-check \
		--with-helper-package-version=$(DEB_DEVFLOW_DEBIAN_VERSION)
	cd snf-image-helper; ./autogen.sh
	dh_auto_configure -Dsnf-image-helper

override_dh_auto_install:
	dh_auto_install -Dsnf-image-host --destdir=debian/snf-image
	mkdir -p debian/snf-image-tools/usr/bin
	mv debian/snf-image/usr/bin/snf-image-create-helper debian/snf-image-tools/usr/bin/
	dh_auto_install -Dsnf-image-helper --destdir=debian/snf-image-helper

override_dh_install:
	dh_install
	install -D -m 0600 snf-image-host/defaults $(CURDIR)/debian/snf-image/etc/default/snf-image
	rm -f $(CURDIR)/debian/snf-image-helper/usr/share/doc/snf-image-helper/COPYING
	mv $(CURDIR)/debian/snf-image/usr/share/ganeti/os/snf-image/variants.list \
	 $(CURDIR)/debian/snf-image/etc/ganeti/snf-image/variants.list

override_dh_fixperms:
	dh_fixperms --exclude debian/snf-image/etc/default/snf-image

