#!/bin/bash

set -e

# Source debconf library
. /usr/share/debconf/confmodule

set +e
db_get snf-image/dlurl
rc=$? # If the entry in the db does not exist, an error is returned
set -e

if [ $rc -eq 0 ]; then
  DLURL="$RET"
else
  DLURL=""
fi

if [[ "$DLURL" = */snf_image_helper_image-*.tar.?? ]]; then
  # This is an old value. It seems to contain a full URL and not a
  # prefix. I cannot but reset it
  db_reset snf-image/dlurl
fi

db_input high snf-image/dlurl || true
db_input high snf-image/update-helper || true
db_go || true

